<%- include('../partials/header') %>

<h1 class='teambuilder'> Team Builder</h1>

<form id="new-form" action="/teams" method="POST">
    <label>Name:</label>
    <input type="text" name="teamName">
    <label>Pokemon 1:</label>
    <input type="text" name="pokemonFirst">
    <label>Pokemon 2:</label>
    <input type="text" name="pokemonSecond">
    <label>Pokemon 3:</label>
    <input type="text" name="pokemonThird">
    <label>Pokemon 4:</label>
    <input type="text" name="pokemonFourth">
    <label>Pokemon 5:</label>
    <input type="text" name="pokemonFifth">
    <label>Pokemon 6:</label>
    <input type="text" name="pokemonSixth">
    <input type="submit" value="Create Team">
  </form>
</form>

<h3>
  <div class="psy">
    <a href="/"><img src="https://images2.imgbox.com/d4/ef/JZAbHoIm_o.png" width="100"></a>
  </div>
</h3>
<%- include('../partials/footer') %>
