<%- include('./partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="center">
      <h1>
        <span>Pokhiman</span>
      
        <span>Pokhiman</span>
        <span>Pokhiman</span>
      
      </h1>
    </div>
    <div class="info">
      A Pokemon Team Builder
    </div>
    <div class="psy">
      <a href="/"><img src="https://images2.imgbox.com/d4/ef/JZAbHoIm_o.png" width="100"></a>
    </div>
    <div class="khi">
      Made by Khi :]
    </div>
  </body>
</html>

<%- include('./partials/footer') %>
